@import '../../variables-only.scss';

span[data-type='mention'] {
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #e9d5ff;
  color: $primaryColor;
  font-weight: 500;
  white-space: nowrap;
}
