.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 30px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  background: rgb(246, 248, 249);
}

.line {
  height: 1px;
  width: 95%;
  border: none;
  border-bottom: 2px solid rgb(218, 221, 227);
  background: transparent;
}

.header {
  margin: 0 0 0 30px;
  color: rgb(34, 34, 34);
}

.mainContainer {
  padding-left: 20px;
}

.boardMainContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 1920px;
  overflow-x: scroll;
}

.columnsContainer {
  display: flex;
  justify-content: space-between;
  margin: 7px;
}

.lastColumnContainer {
  width: 270px;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233D5278FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  span {
    white-space: nowrap;
    align-self: center;
    color: #3d5278;
    font-weight: bold;
  }
  display: none;
}

