@import "../../../variables-only.scss";

.modalContainer {
  width: 377px;
  padding: 0 26px 30px 26px;
  .errorMsg {
    margin-top: 12px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 24px;
    background: #c8372c;
    color: #ffffff;
    box-shadow: 0 16px 38px 0 rgba(46, 0, 0, 0.22), 0 5px 10px 0 rgba(38, 0, 0, 0.18);
  }
  .buttonSection {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    .selectBtn {
      margin-right: 3px;
      font-size: 14px;
      font-style: normal;
      font-family: inherit;
      font-weight: 700;
      cursor: pointer;
      line-height: 2.28571em;
      color: #ffffff;
      background: $primaryColor;
      border-width: 0px;
      border-radius: 3px;
      padding: 0px 12px;
      transition: background 0.1s ease-out 0s,
        box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      &:hover {
        background: $primaryColor-hover;
      }
    }
    .cancelBtn {
      font-size: 14px;
      font-style: normal;
      font-family: inherit;
      font-weight: 700;
      cursor: pointer;
      line-height: 2.28571em;
      color: $textPrimaryColor;
      background: rgba(9, 30, 66, 0.08);
      border-width: 0;
      border-radius: 3px;
      padding: 0px 12px;
      transition: background 0.1s ease-out 0s,
        box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      &:hover {
        background: rgba(9, 30, 66, 0.12);
      }
    }
  }
}
