@import '../../../../variables-only.scss';

.permission {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  cursor: pointer;

  input {
    width: 16px;
    height: 16px;
    margin: 0;
    accent-color: $primaryColor;
    cursor: pointer;
  }

  input:disabled {
    cursor: not-allowed;
  }
}
