@import "../../variables-only.scss";

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: $primaryColor; // default color if none provided
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 0 2px $primaryColor;
}
