// SCSS Variables only - no CSS output
// This file should be used for @import in SCSS files
$primaryColor: #6a2add;
$textPrimaryColor: #4f5366;
$primaryFontSize: 18px;
$primaryColor-hover: hsla(261, 72%, 52%, 0.9);
