.defaultIconSection {
  flex: 1 1 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .defaultIconHeader {
    display: flex;
    align-items: center;
    padding: 4px 0 16px 0;
    .backBtn {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      align-items: center;
      margin: 0px;
      max-width: 100%;
      position: relative;
      transition: background 0.1s ease-out 0s,
        box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      background: rgba(9, 30, 66, 0.04);
      cursor: pointer;
      padding: 0px 2px;
      outline: none;
      border: none;
      color: #42526e;
      &:hover {
        transition: background 0 s ease-out 0s,
          box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        background: rgba(9, 30, 66, 0.08);
      }
    }
    h4 {
      padding-left: 8px;
      color: #091e42;
      pointer-events: auto;

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.43;
    }
  }
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 294px;
    overflow-y: auto;
    padding: 4px;
    margin: 0px;
    gap: 8px;
    li {
      border-radius: 3px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none;
      cursor: pointer;
      margin: 0px;
      aspect-ratio: 1 / 1;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 320px) {
  .defaultIconSection {
    ul {
      width: 318px;
    }
  }
}
